*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

.hero__section{
    background: url("../images/heroSectionBackground.png");
    background-size: cover;
    background-position: center;
    min-height: 27rem;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 32px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 17px;
}

.navbar__menu_container{
    display: flex;
    gap: 42px;
}

.navbar__menu_container .user_icon{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

@media only screen and (max-width : 770px){
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
}

.hero__section_container{
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:28px;
    margin-top: 1.5rem;
}

.hero__section_logo{
    width: 300px;
    align-self: center;
    height: 60px;
}

.hero__section_title{
    height : 48px;
    width: 750px; 
    text-align: center;
    font-size: 36px;
    font-weight: 350;
}

.hero__section_input_container{
    width: 765px;
    height: 54px;
    display: flex;
    background-color: #fefefe;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.hero__section_input_container > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.hero__section_input_divider{
    background-color: rgb(197, 197, 197);
    width: 1px;
    height: 36%;
    align-self: center;
    border: none;
    border-radius: 20px;
}

.hero__section_input_container input{
    border: none;
    text-align: left;
    padding-left: 10px;
    border-radius: 8px;
}

.hero__section_input_container_location-div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 30%;
}

.hero__section_input_container_search-div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    align-items: center;
    padding-left: 20px;
}


.hero__section_container_input_location{
    height:100%;
    width:80%;
}

.hero__section_container_input_search{
    height:100%;
    width:70%;
}